
Closer PT Challenge/complains_data.csv
Closer PT Challenge/corpusreduced.rds
Closer PT Challenge/dataextract.rds
Closer PT Challenge/datareduced.rds
Closer PT Challenge/dtmtest.rds
Closer PT Challenge/dtmtrain.rds
Closer PT Challenge/CloserChallenge_cache/html/TrainTestSet_a249bfe740a27bab7a1fd64cb98b0a56.rdx
Closer PT Challenge/CloserChallenge_cache/html/TrainTestSet_a249bfe740a27bab7a1fd64cb98b0a56.rdb
Closer PT Challenge/CloserChallenge_cache/html/TrainTestSet_a249bfe740a27bab7a1fd64cb98b0a56.RData
Closer PT Challenge/CloserChallenge_cache/html/top100_49bd6b09cbf0dc6c0e3045d14228efc3.rdx
Closer PT Challenge/CloserChallenge_cache/html/top100_49bd6b09cbf0dc6c0e3045d14228efc3.rdb
Closer PT Challenge/CloserChallenge_cache/html/top100_49bd6b09cbf0dc6c0e3045d14228efc3.RData
Closer PT Challenge/CloserChallenge_cache/html/setseed_7cc163712ad3d692c82b57dc2562d207.rdx
Closer PT Challenge/CloserChallenge_cache/html/setseed_7cc163712ad3d692c82b57dc2562d207.rdb
Closer PT Challenge/CloserChallenge_cache/html/setseed_7cc163712ad3d692c82b57dc2562d207.RData
Closer PT Challenge/CloserChallenge_cache/html/sampleIssues_e488e71701b116fd5d6e70a8786a43fe.rdx
Closer PT Challenge/CloserChallenge_cache/html/sampleIssues_e488e71701b116fd5d6e70a8786a43fe.rdb
Closer PT Challenge/CloserChallenge_cache/html/sampleIssues_e488e71701b116fd5d6e70a8786a43fe.RData
Closer PT Challenge/CloserChallenge_cache/html/removeSparse_9413fa72d0a98b6764b9d513cf5ab4e9.rdx
Closer PT Challenge/CloserChallenge_cache/html/removeSparse_9413fa72d0a98b6764b9d513cf5ab4e9.rdb
Closer PT Challenge/CloserChallenge_cache/html/removeSparse_9413fa72d0a98b6764b9d513cf5ab4e9.RData
Closer PT Challenge/CloserChallenge_cache/html/removeOtherWords_43d3a08a3819fc8cc33ebcb69fe4b697.rdx
Closer PT Challenge/CloserChallenge_cache/html/removeOtherWords_43d3a08a3819fc8cc33ebcb69fe4b697.rdb
Closer PT Challenge/CloserChallenge_cache/html/removeOtherWords_43d3a08a3819fc8cc33ebcb69fe4b697.RData
Closer PT Challenge/CloserChallenge_cache/html/readpoint_76bdbd1e92a900c4bd17a7f385e40edb.rdx
Closer PT Challenge/CloserChallenge_cache/html/readpoint_76bdbd1e92a900c4bd17a7f385e40edb.rdb
Closer PT Challenge/CloserChallenge_cache/html/readpoint_76bdbd1e92a900c4bd17a7f385e40edb.RData
Closer PT Challenge/CloserChallenge_cache/html/readingCSV_aa307a6a9d43c215589af897b32a242f.rdx
Closer PT Challenge/CloserChallenge_cache/html/readingCSV_aa307a6a9d43c215589af897b32a242f.rdb
Closer PT Challenge/CloserChallenge_cache/html/readingCSV_aa307a6a9d43c215589af897b32a242f.RData
Closer PT Challenge/CloserChallenge_cache/html/plotLDA_23c2a5237fc2ae59ba38231b8103e776.rdx
Closer PT Challenge/CloserChallenge_cache/html/plotLDA_23c2a5237fc2ae59ba38231b8103e776.rdb
Closer PT Challenge/CloserChallenge_cache/html/plotLDA_23c2a5237fc2ae59ba38231b8103e776.RData
Closer PT Challenge/CloserChallenge_cache/html/plotFreqTerms_9ed12c0b7b78fa079f33a1bccfc6ba2c.rdx
Closer PT Challenge/CloserChallenge_cache/html/plotFreqTerms_9ed12c0b7b78fa079f33a1bccfc6ba2c.rdb
Closer PT Challenge/CloserChallenge_cache/html/plotFreqTerms_9ed12c0b7b78fa079f33a1bccfc6ba2c.RData
Closer PT Challenge/CloserChallenge_cache/html/loadpackages_09a2421cdf97cc5117691a3611f5a6eb.rdx
Closer PT Challenge/CloserChallenge_cache/html/loadpackages_09a2421cdf97cc5117691a3611f5a6eb.rdb
Closer PT Challenge/CloserChallenge_cache/html/loadpackages_09a2421cdf97cc5117691a3611f5a6eb.RData
Closer PT Challenge/CloserChallenge_cache/html/LDA_dfd8c8c9e489e5bb38c73f5fb4be05fb.rdx
Closer PT Challenge/CloserChallenge_cache/html/LDA_dfd8c8c9e489e5bb38c73f5fb4be05fb.rdb
Closer PT Challenge/CloserChallenge_cache/html/LDA_dfd8c8c9e489e5bb38c73f5fb4be05fb.RData
Closer PT Challenge/CloserChallenge_cache/html/fitSVM_ec87aa3e472916185f2a4f95558afe38.rdx
Closer PT Challenge/CloserChallenge_cache/html/fitSVM_ec87aa3e472916185f2a4f95558afe38.rdb
Closer PT Challenge/CloserChallenge_cache/html/fitSVM_ec87aa3e472916185f2a4f95558afe38.RData
Closer PT Challenge/CloserChallenge_cache/html/fitNB_06c2ba5456eb997c422d41cb772f6cc4.rdx
Closer PT Challenge/CloserChallenge_cache/html/fitNB_06c2ba5456eb997c422d41cb772f6cc4.rdb
Closer PT Challenge/CloserChallenge_cache/html/fitNB_06c2ba5456eb997c422d41cb772f6cc4.RData
Closer PT Challenge/CloserChallenge_cache/html/extractColumns_1c26e6606877fbed6bfea3bde7feb9a4.rdx
Closer PT Challenge/CloserChallenge_cache/html/extractColumns_1c26e6606877fbed6bfea3bde7feb9a4.rdb
Closer PT Challenge/CloserChallenge_cache/html/extractColumns_1c26e6606877fbed6bfea3bde7feb9a4.RData
Closer PT Challenge/CloserChallenge_cache/html/dtm_1c72cee683f7cc50d2ca1655c2993ffc.rdx
Closer PT Challenge/CloserChallenge_cache/html/dtm_1c72cee683f7cc50d2ca1655c2993ffc.rdb
Closer PT Challenge/CloserChallenge_cache/html/dtm_1c72cee683f7cc50d2ca1655c2993ffc.RData
Closer PT Challenge/CloserChallenge_cache/html/createOther_32b991523f9fab2bcec657e9813db460.rdx
Closer PT Challenge/CloserChallenge_cache/html/createOther_32b991523f9fab2bcec657e9813db460.rdb
Closer PT Challenge/CloserChallenge_cache/html/createOther_32b991523f9fab2bcec657e9813db460.RData
Closer PT Challenge/CloserChallenge_cache/html/countbyissue_cc554934e2cc78730f2ffe1fe0eff26f.rdx
Closer PT Challenge/CloserChallenge_cache/html/countbyissue_cc554934e2cc78730f2ffe1fe0eff26f.rdb
Closer PT Challenge/CloserChallenge_cache/html/countbyissue_cc554934e2cc78730f2ffe1fe0eff26f.RData
Closer PT Challenge/CloserChallenge_cache/html/cleanData_83f08702062bb11a9e9baddc5d70cda0.rdx
Closer PT Challenge/CloserChallenge_cache/html/cleanData_83f08702062bb11a9e9baddc5d70cda0.rdb
Closer PT Challenge/CloserChallenge_cache/html/cleanData_83f08702062bb11a9e9baddc5d70cda0.RData
Closer PT Challenge/CloserChallenge_cache/html/balancedDataPlot_c4f8cf3c4dfc28b2ffc18ade9fe26c82.rdx
Closer PT Challenge/CloserChallenge_cache/html/balancedDataPlot_c4f8cf3c4dfc28b2ffc18ade9fe26c82.rdb
Closer PT Challenge/CloserChallenge_cache/html/balancedDataPlot_c4f8cf3c4dfc28b2ffc18ade9fe26c82.RData
Closer PT Challenge/CloserChallenge_cache/html/accuracySVM_9f980b6ef0f8b4b2e1251b235ae31a7e.rdx
Closer PT Challenge/CloserChallenge_cache/html/accuracySVM_9f980b6ef0f8b4b2e1251b235ae31a7e.rdb
Closer PT Challenge/CloserChallenge_cache/html/accuracySVM_9f980b6ef0f8b4b2e1251b235ae31a7e.RData
Closer PT Challenge/CloserChallenge_cache/html/accuracyNB_8def991bae0b3b62fbefd5237cf75dd5.rdx
Closer PT Challenge/CloserChallenge_cache/html/accuracyNB_8def991bae0b3b62fbefd5237cf75dd5.rdb
Closer PT Challenge/CloserChallenge_cache/html/accuracyNB_8def991bae0b3b62fbefd5237cf75dd5.RData
Closer PT Challenge/CloserChallenge_cache/html/__packages
Closer PT Challenge/CloserChallenge_cache/html/99perissue_6bf5ea2805780cfc36a3d1ea9c1eed69.rdx
Closer PT Challenge/CloserChallenge_cache/html/99perissue_6bf5ea2805780cfc36a3d1ea9c1eed69.rdb
Closer PT Challenge/CloserChallenge_cache/html/99perissue_6bf5ea2805780cfc36a3d1ea9c1eed69.RData
Closer PT Challenge/.DS_Store
Closer PT Challenge/CloserChallenge_files/figure-html/plotLDA-1.png
Closer PT Challenge/CloserChallenge_files/figure-html/plotFreqTerms-1.png
Closer PT Challenge/CloserChallenge_files/figure-html/countbyissue-1.png
Closer PT Challenge/CloserChallenge_files/figure-html/balancedDataPlot-1.png
